<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="description" content="<%= locals.description %>">
    <script src="/js/script.js" defer></script>
    <title>
        <%= locals.title %>
    </title>
</head>

<body>
    <div class="container">
        <header>
            <%- include('../partials/header.ejs') %>
        </header>
        <main class="main">
            <div class="main-overlay">

                <%- body %>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer.ejs') %>
        </footer>
    </div>
</body>

</html>