<div class="container-messages-general">
    <h3>Recent Messages</h3>
    <div class="messages-container">
        <% data.forEach(message=> { %>
            <div class="messages-container-inner">
                <li>

                    <a class="meessage_link" href="/message/<%= message._id %>">
                        <p class="username-para">
                            <%= message.username.toUpperCase() %>
                        </p>
                        <p class="message-para">
                            <%= message.message %>
                        </p>
                        <p class="date-para">
                            <%= message.createdAt.toDateString() %>
                        </p>
                    </a>
                </li>
            </div>
            <% }) %>

<div class="next_prev_messages_container">
    
                <!-- old messages' button -->

                <% if (nextPage !==null) { %>
                    <a href="/?page=<%= nextPage %>" class="pagination next_message">&lt; View older Messages</a>

                    <% } %>

                        <!-- old messages' button -->
                        <!-- Newest messages' button -->
                        <% if (prevPage !==null) { %>
                            <a href="/?page=<%= prevPage %>" class="pagination prev_message">View Newest Messages &gt;</a>
                            <% } %>
                       <!-- Newest messages' button -->

</div>


    </div>
 
       <form  class="user-message-button-container" action="/add-message" method="POST">
        <div class="user-message-container">
            <div>
                <input type="text" maxlength="20" minlength="2"placeholder="Username..." required name="username" />
            </div>
            <div>
                <input type="text"maxlength="100" minlength="5" placeholder="Message..." required name="message" />
            </div>
        </div>
        <div class="user-message-container-btn">
            <button type="submit" class="btn-send">Send</button>
        </div>

       </form>
    
</div>